:root {
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --accent-color: #2196F3;
  --primary-white-color: #ffffff;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.body {
  background-color: var(--primary-white-color);
  color: var(--second-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.button {
  cursor: pointer;
  border: none;
}

.list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.section-title {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  color: var(--primary-text-color);
  font-size: 36px;
  line-height: 1.17;
}

.btn-primary {
  /*HTML + PORTFOLIO*/
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.modal-form-input:hover,
.modal-form-input:focus,
.modal-form-check:hover,
.modal-form-check:focus,
.modal-form-messege:hover,
.modal-form-messege:focus {
  outline: none;
  border-color: var(--accent-color);
  cursor: pointer;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-logo {
  display: flex;
  color: var(--accent-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}

.nav-logo__text {
  color: var(--primary-text-color);
}

@media screen and (max-width: 767px) {
  .nav__list,
.contacts {
    display: none;
  }
  .mobile-menu-btn {
    background-color: transparent;
    line-height: 0;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
    align-items: center;
  }
  .mobile-menu-btn {
    display: none;
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0;
  }
  .nav__list {
    align-items: center;
    margin-left: 87px;
    column-gap: 50px;
  }
  .nav__item {
    column-gap: 50px;
  }
  .nav__link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color var(--transition-dur-and-func);
  }
  .nav__link:hover, .nav__link:focus {
    color: var(--accent-color);
  }
  .nav .nav__link_current {
    color: var(--accent-color);
    display: block;
    position: relative;
    padding-bottom: 32px;
    padding-top: 28px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
  .nav .nav__link_current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
  .contacts {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: auto;
    row-gap: 10px;
  }
  .contacts__link {
    color: var(--second-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color var(--transition-dur-and-func);
  }
  .contacts__link:hover, .contacts__link:focus {
    color: var(--accent-color);
  }
  .contacts__icon-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: var(--second-text-color);
    transition: fill var(--transition-dur-and-func);
  }
  .contacts__link:hover .contacts__icon-mail, .contacts__link:focus .contacts__icon-mail {
    fill: var(--accent-color);
  }
  .contacts__icon-tel {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: var(--second-text-color);
    transition: fill var(--transition-dur-and-func);
  }
  .contacts__link:hover .contacts__icon-tel, .contacts__link:focus .contacts__icon-tel {
    fill: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .nav-logo {
    font-size: 26px;
    line-height: 1.2;
  }
  .nav-logo__list {
    margin-left: 92px;
  }
  .contacts {
    flex-direction: row;
    column-gap: 30px;
  }
}
.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 54, 0.4), rgba(47, 48, 54, 0.4)), url("../images/hero-tel.jpg");
  background-color: #C4C4C4;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 480px), screen and (min-resolution: 192dpi) and (min-width: 480px), screen and (min-resolution: 2dppx) and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 54, 0.4), rgba(47, 48, 54, 0.4)), url("../images/hero-tel@2x.jpg");
  }
}
.hero .hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;
  letter-spacing: 0.06em;
  margin-top: 30px;
  min-width: 216px;
  min-height: 50px;
  border-radius: 4px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition-dur-and-func);
}
.hero .hero__button:hover, .hero .hero__button:focus {
  background-color: #188CE8;
}

.hero .hero__title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 54, 0.4), rgba(47, 48, 54, 0.4)), url("../images/hero-tab.jpg");
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 54, 0.4), rgba(47, 48, 54, 0.4)), url("../images/hero-tab@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 54, 0.4), rgba(47, 48, 54, 0.4)), url("../images/hero-desc.jpg");
  }
  .hero .hero__title {
    font-size: 44px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 54, 0.4), rgba(47, 48, 54, 0.4)), url("../images/hero-desc@2x.jpg");
  }
}
.features-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.features {
  display: inline-flex;
  flex-wrap: wrap;
  row-gap: 30px;
}
.features__element {
  width: 100%;
}
.features__element-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
}
.features__element-text {
  padding-top: 30px;
  width: 100%;
}
.features__element-text__title {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}
.features__element-text__description {
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (min-width: 768px) {
  .features {
    display: flex;
    gap: 30px;
  }
  .features__element {
    width: 354px;
  }
  .features__element-text__title {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .features-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .features__element {
    width: 270px;
  }
}
.work-section {
  padding-bottom: 94px;
  display: flex;
  flex-wrap: wrap;
}

.work {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
}
.work__element {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
}
.work__element-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
}
.work__element-text__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

@media screen and (max-width: 1200px) {
  .work-section {
    display: none;
  }
}
.team {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.team__element {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-cards {
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid #FFFFFF;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top: none;
  background-color: #FFFFFF;
}
.team-cards__item {
  text-align: center;
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-cards__discription {
  text-align: center;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}

.social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--transition-dur-and-func);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  fill: #AFB1B8;
  transition: fill var(--transition-dur-and-func);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: var(--primary-white-color);
}

@media screen and (min-width: 320px) {
  .team__element {
    width: 272px;
  }
}
@media screen and (min-width: 480px) {
  .team__element {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
  .team__element {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    flex-wrap: nowrap;
  }
  .team__element {
    width: 272px;
  }
}
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  justify-content: center;
}

.clients__item {
  display: flex;
  justify-content: center;
  height: 92px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: color var(--transition-dur-and-func), border-color var(--transition-dur-and-func);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
}

.clients__icon {
  fill: #AFB1B8;
  transition: var(--transition-dur-and-func);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .clients__list {
    gap: 30px;
  }
  .clients__item {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    column-gap: 30px;
  }
  .clients__item {
    width: 170px;
  }
}
.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: block;
}

.footer-inf {
  display: block;
  text-align: center;
}

.footer-logo {
  color: var(--accent-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.footer-logo .footer-logo__text {
  color: var(--primary-white-color);
}

.footer-inf__list {
  list-style: none;
  margin-top: 20px;
}

.footer-inf__item {
  margin-bottom: 8px;
}
.footer-inf__item:last-child {
  margin-bottom: 0px;
}

.footer-inf .footer-inf__addres {
  color: var(--primary-white-color);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.footer-inf .footer-inf__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  transition: color var(--transition-dur-and-func);
}
.footer-inf .footer-inf__link:last-child {
  margin-bottom: 0px;
}
.footer-inf .footer-inf__link:hover, .footer-inf .footer-inf__link:focus {
  color: var(--accent-color);
}

.footer-item__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.footer-social-list {
  column-gap: 10px;
  justify-content: center;
}

.footer-social-list__item {
  display: flex;
}

.footer-social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-dur-and-func);
}
.footer-social-list__link:hover, .footer-social-list__link:focus {
  background-color: var(--accent-color);
}

.footer-social-list__icon {
  fill: var(--primary-white-color);
}

.footer-subscribe {
  text-align: center;
}

.footer-subscribe-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-form-input {
  width: 100%;
  height: 50px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  margin-bottom: 20px;
}
.footer-form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-form-icon {
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  .footer-item {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-item {
    margin-top: 5px;
    margin-left: 165px;
    text-align: center;
  }
  .footer-inf {
    margin-left: 61px;
  }
  .footer-subscribe {
    margin-top: 60px;
    margin-left: 166px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    flex-wrap: nowrap;
  }
  .footer-item {
    margin-top: 12px;
    margin-left: 70px;
    text-align: left;
  }
  .footer-inf {
    text-align: left;
    margin-left: 0px;
  }
  .footer-subscribe {
    margin-top: 12px;
    margin-left: 93px;
    text-align: left;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background-color: var(--primary-white-color);
  padding: 40px;
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  transition: fill var(--transition-dur-and-func);
}
.modal-close-button:hover, .modal-close-button:focus {
  fill: var(--accent-color);
}

.modal-caption {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

@media screen and (max-width: 479px) {
  .modal {
    width: 95%;
  }
}
@media screen and (min-width: 1200px) {
  .modal-caption {
    line-height: 1.15;
  }
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal-form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.modal-form-field-disc {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  display: block;
  margin-bottom: 4px;
}

.modal-form-input-wrapper {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--transition-dur-and-func), fill var(--transition-dur-and-func);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--transition-dur-and-func);
}
.modal-form-input:hover + .modal-form-icon, .modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-form-messege {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-dur-and-func);
}
.modal-form-messege::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-check-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.71;
  margin-top: 10px;
  margin-bottom: 20px;
}

.modal-form-check {
  font-size: 14px;
  line-height: 1.17;
}

.modal-form-own-check {
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 7px;
}
.modal-form-check:checked + .modal-form-own-check {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.modal-form-check:focus + .modal-form-own-check {
  outline: 2px solid var(--accent-color);
}

.modal-form-own-check-icon {
  display: none;
}
.modal-form-check:checked + .modal-form-own-check .modal-form-own-check-icon {
  display: block;
}

.modal-form-link {
  color: var(--accent-color);
}

.modal-form-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  align-self: center;
  min-height: 50px;
  min-width: 200px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  transition: background-color var(--transition-dur-and-func);
}
.modal-form-btn:hover, .modal-form-btn:focus {
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1200px) {
  .modal-form-check-wrapper {
    font-size: 14px;
    line-height: 1.71;
  }
}
.btn-secondary {
  color: var(--primary-text-color);
  background-color: #F5F4FA;
  transition: box-shadow var(--transition-dur-and-func), color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
}
.btn-secondary:hover, .btn-secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
}

.examples .button {
  border-radius: 4px;
  padding: 6px 22px;
}

.examples .btn-secondary {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
}

.portfolio-examples {
  padding-top: 94px;
  padding-bottom: 94px;
}

.card {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.works {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.works-link {
  text-decoration: none;
}

.works-item {
  transition: box-shadow var(--transition-dur-and-func);
}
.works-item:hover, .works-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(0);
  transition: var(--transition-dur-and-func);
}
.works-item:hover .works-overlay, .works-item:hover .works-overlay {
  transform: translateY(-100%);
  transition: transform var(--transition-dur-and-func);
  opacity: 1;
}

.works-thumb {
  position: relative;
  overflow: hidden;
}
.works-item:hover .works-thumb, .works-item:focus .works-thumb {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow var(--transition-dur-and-func);
}

.works-actions {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  transition: transform var(--transition-dur-and-func);
}
.works-item:hover .works-actions, .works-item:focus .works-actions {
  opacity: 1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow var(--transition-dur-and-func);
}

.works-actions-discription {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  padding: 63px 24px;
  color: var(--primary-white-color);
}

.works .works-title {
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.works .type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--second-text-color);
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 796px;
    z-index: 10;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    background-color: var(--primary-white-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
  }
  .mobile-menu__close-btn {
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 15px;
    line-height: 0;
    transition: fill var(--transition-dur-and-func);
  }
  .mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
    fill: var(--accent-color);
  }
  .menu-nav {
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    margin-bottom: 302px;
  }
  .menu-nav__item {
    padding-bottom: 32px;
  }
  .menu-nav__item:last-child {
    padding-bottom: 0;
  }
  .menu-nav__link {
    text-decoration: none;
    color: var(--primary-text-color);
    transition: color var(--transition-dur-and-func);
  }
  .menu-nav__link:hover, .menu-nav__link:focus {
    color: var(--accent-color);
  }
  .menu-nav__link-current {
    position: relative;
    text-decoration: none;
    color: var(--accent-color);
    display: inline-block;
    width: 139px;
    text-align: center;
  }
  .menu-nav__link-current::after {
    content: "";
    position: absolute;
    visibility: hidden;
    left: 0;
    bottom: 0;
    width: 139px;
    height: 3.71px;
    background: #2196F3;
    border-radius: 2px;
  }
  .menu-contacts {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    margin-bottom: 64px;
  }
  .menu-contacts__item {
    padding-bottom: 32px;
  }
  .menu-contacts__item:last-child {
    padding-bottom: 0;
  }
  .menu-contacts__link {
    text-decoration: none;
    color: var(--second-text-color);
  }
  .menu-contacts__link-current {
    text-decoration: 0;
    color: var(--accent-color);
    font-size: 34px;
    line-height: 1.18;
  }
  .menu-social-list {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
  }
  .menu-social-list__item {
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .menu-social-list__item:last-child {
    border-right: none;
  }
  .menu-social-list__item:first-child {
    padding-left: 0;
  }
  .menu-social-list__link {
    text-decoration: none;
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */