  .team {
      display: flex;
      flex-direction: column;
      row-gap: 30px;

      &__element {
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          border-radius: 0px 0px 4px 4px;
      }
  }

  .team-cards {
      padding-top: 30px;
      padding-bottom: 30px;
      border: 1px solid #FFFFFF;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      border-top: none;
      background-color: #FFFFFF;

      &__item {
          text-align: center;
          margin-bottom: 10px;

          color: var(--primary-text-color);
          font-weight: 500;
          font-size: 16px;
          line-height: 1.19;
      }

      &__discription {
          text-align: center;
          margin-bottom: 16px;

          font-size: 16px;
          line-height: 1.19;
      }
  }

  .social-list {
      display: flex;
      justify-content: center;
      column-gap: 10px;
  }

  .social-list__link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      border-radius: 50%;

      transition: background-color var(--transition-dur-and-func);

      &:hover,
      &:focus {
          background-color: var(--accent-color);
      }
  }

  .social-list__icon {

      fill: #AFB1B8;
      transition: fill var(--transition-dur-and-func);

      .social-list__link:hover &,
      .social-list__link:focus & {
          fill: var(--primary-white-color);
      }
  }



@media screen and (min-width: 768px){
    .team{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
    }
}





// .team-section {
//     background-color: #F5F4FA;
//     padding-top: 94px;
//     padding-bottom: 94px;
// }


// .team {
//     display: flex;
//     flex-wrap: wrap;
//     column-gap: 30px;
// }

// .team__element {
//     flex-basis: calc((100% - 90px) / 4);

//     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
//     border-radius: 0px 0px 4px 4px;
// }

// .team-cards {
//     padding-top: 30px;
//     padding-bottom: 30px;
//     border: 1px solid #FFFFFF;
//     border-bottom-right-radius: 4px;
//     border-bottom-left-radius: 4px;
//     border-top: none;
//     background-color: #FFFFFF;
// }



// .team-cards__item {
//     display: flex;
//     margin-bottom: 10px;
//     justify-content: center;
//     align-items: center;

//     color: var(--primary-text-color);
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 1.19;
// }

// .team-cards__discription {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin-bottom: 16px;

//     font-size: 16px;
//     line-height: 1.19;
// }

// .social-list {
//     display: flex;
//     justify-content: center;
//     column-gap: 10px;
// }

// .social-list__link {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 44px;
//     height: 44px;
//     border-radius: 50%;

//     transition: background-color var(--transition-dur-and-func);

//     &:hover,
//     &:focus {
//         background-color: var(--accent-color);
//     }
// }

// .social-list__icon {
//     fill: #AFB1B8;
//     transition: fill var(--transition-dur-and-func);

//     .social-list__link:hover &,
//     .social-list__link:focus & {
//         fill: var(--primary-white-color);
//     }
// }

